Import all needed libraries

In [1]:
import pandas as pd
import tweepy
import json
import openpyxl

Initialize all key/token from twitter dev account

In [2]:
BEARER_TOKEN=""
CONSUMER_KEY=""
CONSUMER_SECRET=""
ACCESS_TOKEN=""
ACCESS_TOKEN_SECRET=""

Define function to initialize the API

In [3]:
def getApi(bearer_token,consumer_key,consumer_secret,access_token,access_token_secret):
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api=tweepy.API(auth)
    return api

Initialize API

In [4]:
api=getApi(BEARER_TOKEN,CONSUMER_KEY,CONSUMER_SECRET,ACCESS_TOKEN,ACCESS_TOKEN_SECRET)

Initialize the user and tweet fields

In [5]:
fields=['tweet_id','created_at','text','retweet_count','like_count','reply_count','username','followers','tweet_count','verified']
query="genunlimited"

Define function to get tweets using Premium Search Twitter API V.1

In [10]:
def getTweets(api,query,items):
    tweets=[]
    for tweet in tweepy.Cursor(api.search_30_day,'skripsi30day',query=query,maxResults=100).items(items):
        tweets.append(tweet)
    return tweets

Define function to get tweets using general Search Twitter API V.1

In [76]:
def getTweetsReg(api,query):
    tweets=[]
    for tweet in tweepy.Cursor(api.search_tweets,q=query,count=100).items(10):
        tweets.append(tweet)
    return tweets

Define function to create tweets dataframe

In [11]:
def createDataFrame(tweets,fields):
    df=pd.DataFrame(columns=fields)
    for tweet in tweets:
        data=tweet._json
        user=data['user']
        df1=pd.DataFrame({'tweet_count':[user['statuses_count']],'verified':[user['verified']],'followers':[user['followers_count']],'username':[user['screen_name']],'reply_count':[data['reply_count']],'like_count':[data['favorite_count']],'retweet_count':[data['retweet_count']],'tweet_id':[data['id']],'created_at':[data['created_at']],'text':[data['text']]})
        df1['created_at']=df1['created_at']
        df=df.append(df1,ignore_index=True)
    return df

Search the tweets

In [14]:
tweets=getTweets(api=api,query=query,items=1000)

Create tweets dataframe

In [15]:
df=createDataFrame(tweets=tweets,fields=fields)
df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3060\1891789289.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df1,ignore_index=True)

,tweet_id,created_at,text,retweet_count,like_count,reply_count,username,followers,tweet_count,verified
0,1555310183660027904,Thu Aug 04 21:50:18 +0000 2022,"RT @UNICEF: ""I want to hear your voice... No m...",0,0,0,4PXAZ66j2okxesQ,46,956,False
1,1555256155185614848,Thu Aug 04 18:15:37 +0000 2022,@GenUnlimited_ @DSTISierraLeone @UNICEFSL @inn...,0,0,0,fsgthird,1037,536,False
2,1555193002334855172,Thu Aug 04 14:04:40 +0000 2022,It is our responsibility to enlighten children...,0,0,0,ThabisoMonageng,587,6302,False
3,1555191316933378048,Thu Aug 04 13:57:58 +0000 2022,RT @DSTISierraLeone: Winning teams from the @G...,0,0,0,zipporah_hawa,93,77,False
4,1555190815634472965,Thu Aug 04 13:55:59 +0000 2022,Winning teams from the @GenUnlimited_ üá∏üá± Natio...,1,4,0,DSTISierraLeone,7995,999,False
...,...,...,...,...,...,...,...,...,...,...
995,1546524406830227458,Mon Jul 11 15:58:46 +0000 2022,RT @muriel_mafico: Hearty congratulations @GFP...,0,0,0,sandrabisin,3595,40176,False
996,1546523524755591168,Mon Jul 11 15:55:15 +0000 2022,@kallenr94 @GenUnlimited_ @KevinJWFrey üëèüëèüëè,0,0,0,SaddamSayyaleh,3203,26032,False
997,1546516532796264454,Mon Jul 11 15:27:28 +0000 2022,RT @attadeepa: @_GenUnlimited @UNDP @UNVolunte...,0,0,0,asilihealthltd,144,357,False
998,1546515661400276993,Mon Jul 11 15:24:01 +0000 2022,@startuplag @TecheconomyNG @DigivationTV @tech...,0,0,1,EkoCarbon,107,262,False
999,1546515488716505090,Mon Jul 11 15:23:20 +0000 2022,@UNYouthEnvoy @GPforEducation @RestlessDev @AU...,0,0,0,essamebruno198,611,1279,False

Export tweets into Excel file

In [16]:
df.to_excel('tweets_export.xlsx')